.blog {
    background-color: #626262;
    height: 100vh;
}
.aside {
    width:40%;
    background-color: #C4C4C4;
    float:left;

    -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    height: 100vh;

    & .wrapMenu {
        padding: 10px 0 0 40px;
    }
}

.posts {
    width:60%;
    background-color: #626262;
    float: left;
    height: 100vh;
    margin-top:30px;
}
.box-post {
    width:50%;
    float:left;
    margin: 0 0 30px;

    & h3 {
        margin: 5px 0 0;

        & a {
            color:white;
        }
    }
    & small {
        color: white;
    }
    & p {
        color: $fifth-gray;
    }
}