// Colors
$primary-gray: #F6F6F6;
$secundary-gray: #E5E5E5;
$third-gray: #4E4E4E;
$forth-gray: #666;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
